svg(
  width="110"
  height="228"
  viewBox="0 0 110 228"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M0.5 0C0.5 77.8921 108.5 74.4585 108.5 228" stroke="#D4DDD8" stroke-width="2" stroke-dasharray="8 8")
