svg(
  width="945"
  height="96"
  viewBox="0 0 945 96"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M0 1C354.103 0.999985 246.989 95 945 95" stroke="#D4DDD8" stroke-width="2" stroke-dasharray="8 8")