svg.decor-wave(
  width="248"
  height="54"
  viewBox="0 0 248 54"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M0 1C337.706 1 119.102 53 495 53" stroke="#D4DDD8" stroke-width="2" stroke-dasharray="8 8")
