svg(
  width="74"
  height="586"
  viewBox="0 0 74 586"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M74 585.416C74 479.088 -90.25 359.109 74 0.416007" stroke="#D4DDD8" stroke-width="2" stroke-dasharray="8 8")
