svg(
  width="179"
  height="172"
  viewBox="0 0 179 172"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M178 172C178 107.549 -5.60284e-06 127.045 -5.60284e-06 5.4923e-06" stroke="#D4DDD8" stroke-width="2" stroke-dasharray="8 8")
