svg(
  width="110"
  height="228"
  viewBox="0 0 110 228"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M0.5 228C0.5 150.108 108.5 153.542 108.5 -8.10623e-06" stroke="#D4DDD8" stroke-width="2" stroke-dasharray="8 8")
