//- Иконка телефона (белая, для кнопки)
svg.icon.icon-phone-white(
  width="14"
  height="14"
  viewBox="0 0 14 14"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M4.62533 1.20076C4.97285 1.23535 5.29963 1.38914 5.54875 1.63827C5.83349 1.92306 5.99365 2.30935 5.99365 2.71208V4.23079C5.99363 4.46646 5.93895 4.69904 5.83358 4.90983C5.74135 5.0943 5.61236 5.25789 5.45532 5.39063L5.38582 5.44588L5.15226 5.6202C5.79277 6.92043 6.84504 7.97262 8.14469 8.61377L8.32186 8.38192L8.37712 8.31242C8.50985 8.15538 8.67345 8.0264 8.85791 7.93416C9.06871 7.82879 9.30128 7.77411 9.53695 7.77409H11.0557C11.4584 7.77409 11.8447 7.93421 12.1295 8.21899C12.4143 8.50379 12.5744 8.89005 12.5744 9.29281V10.8115C12.5744 11.2143 12.4143 11.6005 12.1295 11.8853C11.8447 12.1701 11.4584 12.3302 11.0557 12.3302C8.50479 12.3302 6.05878 11.3165 4.25505 9.5127C2.50766 7.76529 1.50149 5.41514 1.44035 2.95077L1.4375 2.71208C1.4375 2.30934 1.59765 1.92306 1.88241 1.63827C2.16721 1.35346 2.55345 1.19336 2.95622 1.19336H4.47493L4.62533 1.20076Z" fill="currentColor")

