//- Иконка для поставщиков (грузовик/доставка)
svg.icon.icon-supplier(
  width="14"
  height="14"
  viewBox="0 0 14 14"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(fill-rule="evenodd" clip-rule="evenodd" d="M12.5932 9.52988C12.5932 10.6436 11.6823 11.545 10.5569 11.545C9.44789 11.5449 8.54786 10.6688 8.52056 9.57852L1.83698 11.3812C1.52612 11.4639 1.20795 11.284 1.1225 10.9764C1.03709 10.6688 1.22075 10.354 1.53159 10.2694L7.35694 8.69859V3.48451C7.35694 2.84942 7.8788 2.33307 8.52056 2.33301H12.5932V9.52988ZM10.557 8.66625C10.3256 8.66627 10.1036 8.75733 9.94 8.91927C9.77635 9.08123 9.68432 9.30085 9.68432 9.52988C9.68432 9.75891 9.77635 9.97853 9.94 10.1405C10.1036 10.3024 10.3256 10.3935 10.557 10.3935C10.7885 10.3935 11.0105 10.3025 11.1742 10.1405C11.3379 9.97853 11.4298 9.75891 11.4298 9.52988C11.4298 9.30085 11.3379 9.08123 11.1742 8.91927C11.0105 8.75731 10.7885 8.66625 10.557 8.66625Z" fill="currentColor")
  path(d="M4.59888 4.61984C4.90976 4.53712 5.22787 4.72066 5.31151 5.02649L6.0642 7.80629C6.1478 8.11392 5.96244 8.4287 5.65341 8.51149L2.84251 9.25817C2.53162 9.34089 2.21336 9.15736 2.12973 8.85152L1.37705 6.07004C1.29343 5.7624 1.47894 5.44748 1.78798 5.36469L2.63157 5.14162L3.00799 6.53235C3.0498 6.68525 3.20973 6.77705 3.36423 6.73575L3.92616 6.58633C4.08066 6.54492 4.17336 6.38656 4.13155 6.23366L3.75514 4.84292L4.59888 4.61984Z" fill="currentColor")

