//- Иконка закрытия (X)
svg.icon.icon-close(
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M11.1793 9.99978L17.0718 15.8923L15.8933 17.0708L10.0008 11.1783L4.1082 17.0708L2.92969 15.8923L8.82224 9.99978L2.92969 4.10722L4.1082 2.92871L10.0008 8.82127L15.8933 2.92871L17.0718 4.10722L11.1793 9.99978Z" fill="currentColor")

