//- Иконка кавычек (41x31)
svg(
  width="41"
  height="31"
  viewBox="0 0 41 31"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(
    opacity="0.9"
    d="M0 31V22.4728C0 19.9561 0.479007 17.3061 1.43702 14.5229C2.39503 11.7397 3.72727 9.07497 5.43373 6.52865C7.1402 3.98233 9.14604 1.80611 11.4513 0L18.0975 4.70773C16.2713 7.34288 14.7145 10.0965 13.4272 12.9685C12.1398 15.8405 11.4962 18.9642 11.4962 22.3395V31H0ZM22.9025 31V22.4728C22.9025 19.9561 23.3815 17.3061 24.3395 14.5229C25.2976 11.7397 26.6298 9.07497 28.3363 6.52865C30.0427 3.98233 32.0486 1.80611 34.3538 0L41 4.70773C39.1738 7.34288 37.617 10.0965 36.3297 12.9685C35.0423 15.8405 34.3987 18.9642 34.3987 22.3395V31H22.9025Z"
    fill="#7C9E90"
  )

