//- Иконка главной страницы (дом)
svg.icon.icon-home(
  width="14"
  height="14"
  viewBox="0 0 14 14"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
)
  path(d="M6.35286 1.77199C6.74466 1.5109 7.25534 1.5109 7.64714 1.77199L11.7305 4.4944C12.0549 4.71074 12.2499 5.07512 12.25 5.4651V11.2574L12.2437 11.3765C12.188 11.9257 11.7516 12.3621 11.2024 12.4178L11.0833 12.4241H8.16667V8.92409C8.16656 8.27984 7.64427 7.75742 7 7.75742C6.35573 7.75742 5.83344 8.27984 5.83333 8.92409V12.4241H2.91667L2.79761 12.4178C2.24841 12.3621 1.81199 11.9257 1.75627 11.3765L1.75 11.2574V5.4651C1.75007 5.09945 1.92145 4.75624 2.21029 4.53655L2.26953 4.4944L6.35286 1.77199Z" fill="currentColor")

