//- Страница "О нас"
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title О нас - Органика
    meta(name="description" content="Узнайте больше о нашей компании и наших принципах работы")
    
    //- Favicon
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="48x48" href="favicon-48x48.png")
    link(rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="192x192" href="android-chrome-192x192.png")
    link(rel="icon" type="image/png" sizes="512x512" href="android-chrome-512x512.png")
    
    link(rel="stylesheet" href="css/main.css")
    //- Предзагрузка LCP-изображения hero
    link(
      rel="preload"
      as="image"
      href="images/about/hero2.webp"
      imagesrcset="images/about/hero-mob.webp 576w, images/about/hero2.webp 1440w"
      imagesizes="(max-width: 576px) 100vw, 100vw"
      type="image/webp"
      fetchpriority="high"
    )
  
  body.about-page
    include ../sections/header
    main.main 
      //- Подключение секций
      include ../sections/about/hero
      include ../sections/history
      include ../sections/about/numbers
      include ../sections/team
      include ../sections/warehouse
      include ../sections/partners
    include ../sections/footer
    //- Глобальные модальные окна
    include ../components/request-modal
    include ../sections/mobile-menu-bar
    include ../components/mobile-menu
    script(src="js/main.js" defer)